* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    background-color: #deeeff;
}

.container {
    width: 1400px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.search_box {
    border: 2px solid blue;
}

.user_box {
    border: 2px solid orange;
}

.user_box {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    border: none;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(50%, 20%);
    background-color: #ffffff99;
    padding: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px #7360ff;
}

.user_box:hover {
    box-shadow: 10px 10px 20px #7360ff;
    transition: all 0.4s ease;
}

.user__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #7360ff;
}

.username_card {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    column-gap: 10px;
}

.username__title {
    color: #7360ff;
}

.password__title {
    color: #7360ff;
}

.input__username {
    max-width: 200px;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(27, 23, 23, 0.742);
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}


.password_card {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    column-gap: 10px;
    margin-bottom: 20px;
}

.input__password {
    max-width: 200px;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(27, 23, 23, 0.742);
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.submit {
    width: 120px;
    height: 40px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    border: 2px solid #7360ff;
    color: #7360ff;
    margin-bottom: 30px;
}

.submit:active {
    transform: scale(0.7);
    transition: all 0.7s ease;
}


.search_box {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    border: none;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(50%, 20%);
    background-color: #ffffff99;
    padding: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px #7360ff;
}


.search_box:hover {
    box-shadow: 10px 10px 20px #7360ff;
    transition: all 0.4s ease;
}


.input__search {
    width: 300px;
    height: 50px;
    border: none;
    border-bottom: 2px solid;
    background-color: transparent;
    outline: none;
    font-size: 35px;
    margin-bottom: 20px;
}

.input__search::placeholder {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.7;
    text-align: center;
}


.box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.user_btn {
    display: flex;
    align-items: center;
    padding-left: 60px;
    gap: 20px;
    margin-bottom: 20px;
}

.pass_box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.pass_btn {
    display: flex;
    align-items: center;
    padding-left: 60px;
    gap: 20px;
}

.user_desc {
    color: #7360ff;
    font-size: 18px;
    font-weight: 600;
}

.delet1 {
    width: 60px;
    height: 40px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    border: 2px solid #7360ff;
    color: #7360ff;
}

.delet1:active {
    transform: scale(0.8);
    transition: all 0.4s ease;
}

.edit1 {
    width: 60px;
    height: 40px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    border: 2px solid #7360ff;
    color: #7360ff;
}

.edit1:active {
    transform: scale(0.8);
    transition: all 0.4s ease;
}

.pass_desc {
    color: #7360ff;
    font-size: 18px;
    font-weight: 600;
}


.data_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.container__title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 700;
    color: #7360ff;
    opacity: 0.6;
}